{
  "port": 80,
  "baseURL": "{{ filebrowser_base_url }}",
  "address": "0.0.0.0",
  "log": "{{ filebrowser_log_output }}",
  "database": "/database/filebrowser.db",
  "root": "/srv",
  "branding": {
    "name": "Filebrowser",
    "disableExternal": true
  },
  "lockPassword": false,
  "disableThumbnails": true,
  "disableImageResolutionCalc": true,
  "disableUsedSpace": false,
  "disableNew": false,
  "disableDelete": false,
  "disableRename": false,
  "disableCopy": false,
  "disableMove": false
}
